@charset "UTF-8";

.empty {
	height: 60px; /* 빈 공간의 높이 설정 */
}

.about_row {
	display: grid;
	justify-content: center; /* 중앙에 배치 */
}

.about_grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4개의 균일한 크기의 열로 설정 */
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1400px;
	width: 100%;
}



