@charset "UTF-8";

/* Desktop - 1 */

#Desktop_signup {
position: relative;
width: 1920px;
height: 1660px;

background: #FFFFFF;
}

::placeholder{
	color: black;
	font-size: 11.8px;
	font-weight: 400;
	opacity: 1; 
  }

.error-message {
	color: red;
	font-size: 12px;
	margin-top: 5px;
	height: 13px;
	}
	
.join-list {
	margin-bottom: 10px;
	list-style: none;
	/* 리스트 항목의 점 표시 제거 */
}

	
/* free-icon-dog-3843277 */

#image{
position: absolute;
width: 75px;
height: 75px;
left: 905px;
top: 65px;

background: url(free-icon-dog-3843277.png);
}

/* 회원가입폼 라인 */
#line{
position: absolute;
width: 750px;
height: 0px;
left: 559.5px;
top: 190px;

border: 1px solid #000000;
}

/* 아이디 */
#div_id{
position: absolute;
width: 65px;
height: 25px;
left: 674px;
top: 210px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* identical to box height */

color: #000000;
}

/* 아이디 입력창 */
#id{
box-sizing: border-box;

position: absolute;
width: 330px;
height: 40px;
left: 682px;
top: 240px;

font-size : 25px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

/* 아이디 중복체크 */

#id_confirm{
box-sizing: border-box;

position: absolute;
width: 130px;
height: 40px;
left: 1030px;
top: 240px;

background: #D9D9D9;
border: 2px solid #000000;
border-radius: 5px;
}
/* 비밀번호 */

#div_pw{
position: absolute;
width: 89px;
height: 29px;
left: 674px;
top: 310px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* identical to box height */

color: #000000;
}

/* 비밀번호 입력창 */

#pw{
box-sizing: border-box;

position: absolute;
width: 330px;
height: 40px;
left: 682px;
top: 340px;

font-size : 25px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

/* 비밀번호 확인 */

#div_confirmpw{
position: absolute;
width: 140px;
height: 29px;
left: 674px;
top: 410px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* identical to box height */

color: #000000;
}

/* 비밀번호 확인 입력창 */

#pw_confirm{
box-sizing: border-box;

position: absolute;
width: 330px;
height: 40px;
left: 682px;
top: 440px;

font-size : 25px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

/* 이름 */
#div_name{
position: absolute;
width: 45px;
height: 29px;
left: 674px;
top: 510px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* identical to box height*/

color: #000000;
}

/* 이름 입력창 */
#name{
box-sizing: border-box;

position: absolute;
width: 330px;
height: 40px;
left: 682px;
top: 540px;

font-size : 25px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

/* 주소 */

#div_addr{
position: absolute;
width: 45px;
height: 29px;
left: 674px;
top: 610px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* identical to box height */

color: #000000;
}


/* 우편번호 */
#sample6_postcode{
box-sizing: border-box;

position: absolute;
width: 200px;
height: 40px;
left: 682px;
top: 640px;

font-size : 25px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

#sample6_postcode::placeholder{
	font-size: 20px;
}

/* 우편번호 찾기 버튼 */

#search_postcode{
box-sizing: border-box;

position: absolute;
width: 130px;
height: 40px;
left: 900px;
top: 640px;

background: #D9D9D9;
border: 2px solid #000000;
border-radius: 5px;
}

#sample6_address::placeholder{
	font-size : 20px;
}
/* 기본주소 */

#sample6_address{
box-sizing: border-box;

position: absolute;
width: 350px;
height: 40px;
left: 682px;
top: 685px;

font-size : 25px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

/* 상세주소 */

#sample6_detailAddress{
box-sizing: border-box;

position: absolute;
width: 350px;
height: 40px;
left: 682px;
top: 730px;

font-size : 25px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

#sample6_detailAddress::placeholder{
	font-size: 20px;
}
/* 참고항목 */

#sample6_extraAddress{
box-sizing: border-box;

position: absolute;
width: 350px;
height: 40px;
left: 1040px;
top: 730px;

font-size : 25px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

#sample6_extraAddress::placeholder{
	font-size: 20px;
}
/* 휴대전화 */

#div_mobile{
position: absolute;
width: 89px;
height: 29px;
left: 674px;
top: 800px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* identical to box height */

color: #000000;
}

#mobile1{
	position: absolute;
	width: 100px;
	height: 40px;
	left: 682px;
	top: 830px;

	margin-bottom: 10px;
	margin-top: 10px;
	
	outline: 0;
	color: black;
	text-align: center;
	font-size : 20px;
	background-color: #F5F5F5;
	border: 2px solid #000000;
	border-radius: 9px;
  }
  

  /* - */

#min1{
position: absolute;
width: 24px;
height: 39px;
left: 797px;
top: 835px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;
}

/* 휴대번호2 */

#mobile2{
box-sizing: border-box;

position: absolute;
width: 120px;
height: 40px;
left: 820px;
top: 840px;

font-size : 20px;
text-align : center;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

/* - */
#min2{
position: absolute;
width: 24px;
height: 39px;
left: 960px;
top: 835px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;
}

/* 휴대번호3 */

#mobile3{
box-sizing: border-box;

position: absolute;
width: 120px;
height: 40px;
left: 990px;
top: 840px;

font-size : 20px;
text-align : center;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;

}

/* 이메일 */

#div_email{
position: absolute;
width: 67px;
height: 29px;
left: 674px;
top: 910px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* identical to box height */

color: #000000;
}

/* 이메일 입력창1 */

#email1{
box-sizing: border-box;

position: absolute;
width: 200px;
height: 40px;
left: 682px;
top: 940px;

font-size: 20px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

#email1::placeholder{
	font-size: 15px;
}
/* @ */

#and{
position: absolute;
width: 23px;
height: 29px;
left: 890px;
top: 945px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;
}


/* 이메일 입력창2 */

#email2{
box-sizing: border-box;

position: absolute;
width: 250px;
height: 40px;
left: 930px;
top: 940px;


font-size: 20px;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;
}

#email2::placeholder{
	font-size : 20px;
}

#domainSelect{
	position: absolute;
	width: 130px;
	height: 40px;
	left: 682px;
	top: 975px;

	margin-bottom: 10px;
	margin-top: 10px;
	
	outline: 0;
	color: black;
	text-align: center;
	font-size : 20px;
	background-color: #F5F5F5;
	border: 2px solid #000000;
	border-radius: 9px;
}

/* 생년월일 */

#div_birth{
position: absolute;
width: 89px;
height: 29px;
left: 674px;
top: 1070px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
/* identical to box height */

color: #000000;
}

#birth{
box-sizing: border-box;

position: absolute;
width: 140px;
height: 40px;
left: 682px;
top: 1100px;

font-family: 'Inter';
font-style: normal;
font-size : 20px;
text-align : center;
background: #F5F5F5;
border: 2px solid #000000;
border-radius: 7px;

}

/* 회원가입 */

#signupbtn{
box-sizing: border-box;

position: absolute;
width: 120px;
height: 40px;
left: 790px;
top: 1200px;

background: #D9D9D9;
border: 3px solid #000000;
border-radius: 5px;
}

/* 취소 버튼 */

#cancel{
box-sizing: border-box;

position: absolute;
width: 120px;
height: 40px;
left: 1021px;
top: 1200px;

background: #D9D9D9;
border: 3px solid #000000;
border-radius: 5px; 
}


